---
import { GraduationCap } from "lucide-astro";
import EducationItem from "../items/EducationItem.astro";
import SectionContainer from "../SectionContainer.astro";

const EDUCATION = [
    {
        time: '2021-2023',
        title: 'Ingeniería en Desarrrollo y Gestión de Software Multiplataforma',
        EducationItem: 'Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO)',
    },
    {
        time: '2019-2021',
        title: 'Técnico Superior Universitario (T.S.U.) en Tecnologías de la Información',
        EducationItem: 'Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO)',
    },
    {
        time: '2016-2019',
        title: 'Bachhillerato General',
        EducationItem: 'Instituto de Estudios de Bachillerato del Estado de Oaxaca IEBO 112 "La Ciénega"',
    }
]
---

<SectionContainer id="studies" className="animate-pulse-fade-in animate-delay-400 animate-duration-500">

    <h2 class="text-2xl font-semibold flex gap-3 items-center text-neutral-200">
        <GraduationCap />
        Education
    </h2>

    <ol class="relative space-y-1 border-s-2 border-neutral-800">
        {EDUCATION.map(education => <EducationItem education={education}/>)}
    </ol>

</SectionContainer>