---
import ExperienceItem from "../items/ExperienceItem.astro";
import SectionContainer from "../SectionContainer.astro";
import { BriefcaseBusiness } from "lucide-astro";

const EXPERIENCE = [
    {
        time: '2022 - Actualmente',
        title: 'Diseñador UX/UI',
        companyName: 'Profesional Independiente',
        description: 'Diseñé páginas web atractivas y funcionales, optimizadas para ofrecer una experiencia de usuario excepcional. Creé aplicaciones móviles intuitivas y responsivas, enfocadas en la usabilidad y satisfacción del usuario. Desarrollé y mantuve sistemas de diseño robustos, asegurando coherencia visual y eficiencia en todo el proceso. Además, implementé soluciones de diseño para sistemas administrativos, mejorando la operatividad y experiencia de usuario en interfaces empresariales.'
    },
    {
        time: '2022 - Actualidad',
        title: 'Desarrollador Web',
        companyName: 'Profesional Independiente',
        description: 'Como desarrollador web enfocado en Front-end, he desarrollado sitios web complejos integrando Webflow y maquetado un currículum minimalista para web y PDF utilizando ASTRO y TailwindCSS. También creé un portafolio web para un programador backend y desarrollé el Sistema Web de Gestión de Actividades Culturales y Deportivas de la UTVCO. Además, diseñé y desarrollé el Front-end en Angular para el Torneo de Videojuegos BIT Tournament 2023 y un Sistema de Venta de Boletos para la empresa de viajes La Solteca',
    },
    {
        time: 'Octubre 2023 - Enero 2024',
        title: 'Diseñador UX/UI',
        companyName: 'Grupo Empresarial NIREJ',
        description: 'Como encargado del área de Diseño UI/UX, implementé diversas metodologías ágiles y de diseño, colaborando con equipos multidisciplinares para identificar las necesidades de los clientes y generar soluciones efectivas. Rediseñé el sitio web del Hospital Ángel del Mar, realizando investigación de usuarios, guías de estilo, sistema de diseño, prototipos en Figma y manuales de usuario, trabajando junto al equipo de programadores para desarrollar el sitio en Webflow. También diseñé el sitio web para la empresa de seguridad privada "BETAJ" y la landing page del "Taller de Innovación en la Estrategia Comercial" de Gabriel Belsol. Además, creé plantillas de correos empresariales (mailing).',
    },
    {
        time: 'Agosto 2019 - Diciembre 2023',
        title: 'Diseñador UX/UI - Desarrollador Web',
        companyName: 'Universidad Tecnológica de los Valles Centrales de Oaxaca',
        description: 'A lo largo de mi carrera, he trabajado como Diseñador UI/UX y Desarrollador Web en diversos proyectos, liderando la convergencia técnica entre ellos para encontrar soluciones óptimas. Implementé buenas prácticas y mejoras continuas en mis procesos y resultados de diseño, garantizando entregas puntuales y de alta calidad. Además, he desempeñado el rol de Desarrollador Web Independiente, con un enfoque particular en el desarrollo Front-end.',
    },
    {
        time: 'Mayo 2023 - Julio 2023',
        title: 'Diseñador UX/UI',
        companyName: 'Cafetería "El Zapotal"',
        description: ' Diseño de interfaces y prototipado en Figma para Reloj Checador y diseño de interfaces para sistema de administración de la cafetería.',
    },
]

---

<SectionContainer>

    <h2 class="text-2xl font-semibold flex gap-3 items-center text-neutral-200">
        <BriefcaseBusiness />
        Experiencia Laboral
    </h2>

    <ol class="relative space-y-1 border-s-2 border-neutral-800">
        {EXPERIENCE.map(experience => <ExperienceItem experience={experience}  /> )}
    </ol>

</SectionContainer>