---
import { Figma, Github, LibraryBig, MoveRight } from "lucide-astro";
import SectionContainer from "../SectionContainer.astro";
import ProjectItem from "../items/ProjectItem.astro"; 

const PROJECTS = [
    
    {
        title: "VG Design UI Kit",
        description: "Mi propio Kit de Diseño UI/UX ⚡️ VG Design UI Kit",
        technologies: ["HTML 5", "CSS", "..."],
        image: "projects-img/thumbnail-vg.png",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1273539501651863397/vg-design-ui-kit-v1-10.",
        liveLink: " ",
    },
    {
        title: "CV Web Minimalista ",
        description: "Curriculum Minimalista maquetado para web y pdf usando ASTRO ",
        technologies: [" ", " ", " "],
        image: "projects-img/portada.png",
        githubLink: "https://github.com/Francisco-0510/minimalist-portfolio.git ",
        figmaLink: " ",
        liveLink: "https://github.com/Francisco-0510/minimalist-portfolio.git",
    },
    {
        title: "Hospital Ángel del Mar ",
        description: "Rediseño de Sitio Web para Hospital Ángel del Mar. ",
        technologies: [" ", " ", " "],
        image: " projects-img/Cover HAM.png ",
        githubLink: " ",
        figmaLink: " ",
        liveLink: "https://hospitalangeldelmar.com.mx/ ",
    },
    {
        title: "BETAJ: Agencia de Seguridad Privada ",
        description: "Diseño de Sitio Web para empresa de Seguridad Privada BETAJ ",
        technologies: [" ", " ", " "],
        image: "projects-img/betaj.png",
        githubLink: " ",
        figmaLink: " ",
        liveLink: " https://betaj.mx/",
    },
    {
        title: "Taller de Innovación en la Estrategia Comercial. ",
        description: " Diseño de Landing Page para el 'Taller de Innovación en la Estrategia Comercial', impartido por Gabriel Belsol.",
        technologies: [" ", " ", " "],
        image: "projects-img/GABRIEL.png ",
        githubLink: " ",
        figmaLink: " ",
        liveLink: "https://tallerbelsol.nirej.com.mx/ ",
    },
    {
        title: "Portafolio Back-end Braquetes.com.mx",
        description: "Desarrollo de portafolio web para programador backend.",
        technologies: [" ", " ", " "],
        image: "projects-img/coverBR.png",
        githubLink: "https://github.com/Braquetes/portfolio",
        figmaLink: " ",
        liveLink: "https://www.braquetes.com.mx/#/",
    },
    {
        title: "Plantilla CV Figma",
        description: "Diseño de Plantilla de Curriculum Vitae en Figma.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-cv.webp",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1298753803594743798/cv-template",
        liveLink: " ",
    },
    {
        title: "Corridos Cap. E-commerce",
        description: "Diseño plantilla de Landing Page: E-commerce 'Corridos Cap'.",
        technologies: [" ", " ", " "],
        image: "projects-img/cap.png",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1300691881883791367/corridos-cap-ecommerce-des",
        liveLink: " ",
    },
    {
        title: "Landing Page Maguey Oaxaca",
        description: "Estructura básica de Landing Page y Diseño de Landing 'Maguey México'.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-landing.jpg",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1300690124723803141/maguey-landing-page",
        liveLink: " ",
    },
    {
        title: "Reloj Checador y Sistema El Zapotal.",
        description: "Diseño de interfaces de usuario para reloj, Checador y Sistema de Administración de Cafetería.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-zapotal.png",
        githubLink: "https://github.com/Francisco-0510/RelojChecador_V1",
        figmaLink: "https://www.figma.com/community/file/1274243734616345498/zapotal-design",
        liveLink: " ",
    },
    {
        title: "Rediseño App Móvil HealthCheck ",
        description: "Rediseño de aplicación móvil HealthCheck (dispositivos móviles y wearables).",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-rediseño.jpg",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1283078639346112182/redesign-healthcheck-medical-mobile-app",
        liveLink: " ",
    },
    {
        title: "Smartwatch and Mobile App Design ",
        description: "Diseño de Interfaces para Smartwatch",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-smart.png",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1270644133161232117/healthcheck-smartwatch-and-mobile-devices-design",
        liveLink: " ",
    },
    {
        title: "Diseño de App Móvil/Wearable y Guía de Estilos. ",
        description: "Diseño de interfaces para Smartwatch.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-healtcheck.png",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1270644133161232117/healthcheck-smartwatch-and-mobile-devices-design",
        liveLink: " ",
    },
    {
        title: "Arquitectura y Jerarquía de App Móvil ",
        description: "Mapas de navegación y Wireflows de aplicación móvil y aplicación para Smartwatch HealthCheck.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-arqH.png",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1125658163306261422/arquitectura-y-jerarquia-visual-app-healthcheck",
        liveLink: " ",
    },
    {
        title: "Sistema Web de Gestión de Tutorías Escolares.",
        description: "Sistema Web para la Gestión de Actividades Culturales y Deportivas de la UTVCO / Front-end.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-tutoriasDesign.png",
        githubLink: "https://github.com/Francisco-0510/sportUra",
        figmaLink: "https://www.figma.com/community/file/1205620325712950079/diseno-de-sistema-web-para-la-gestion-de-las-actividades-culturales-y-deportiivas-de-la-utvco",
        liveLink: " ",
    },
    {
        title: "BIT Tournament 2023 ",
        description: "Diseño de Interfaces y Desarrollo de Front-end en Angular para Torneo de Videojuegos 'BIT Tournament 2023'.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-BIT.png",
        githubLink: "https://github.com/Francisco-0510/BIT-TOURNAMENT-2023",
        figmaLink: "https://www.figma.com/community/file/1165464149403530205/diseno-de-interfaces-bit-tournament-2023 ",
        liveLink: " ",
    },
    {
        title: "User Story Mapping - BIT TOURNAMENT 2023 ",
        description: "Historias de Usuario, Mapas de Navegación para el Sistema de Videojuegos BIT TOURNAMENT 2023.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-storyBIT.png",
        githubLink: " ",
        figmaLink: "https://www.figma.com/community/file/1183832840468301220/user-story-mapping-bit-tournament-2023",
        liveLink: " ",
    },
    {
        title: "Sistema Venta de Boletos La Solteca ",
        description: "Diseño y Desarrollo Web Sistema de Venta de Boletos para la Empresa de Viajes 'La Solteca'.",
        technologies: [" ", " ", " "],
        image: "projects-img/thumbnail-soltecaDesign.png",
        githubLink: "https://github.com/Francisco-0510/Solteca",
        figmaLink: "https://www.figma.com/community/file/1104879810169038821/guia-de-estilos-sistema-de-venta-de-boletos-la-solteca",
        liveLink: " ",
    },
];
---

<SectionContainer id="projects" className="animate-pulse-fade-in animate-delay-300 animate-duration-500">
    
    <h2 class="text-2xl font-semibold flex gap-3 items-center text-neutral-200">
        <LibraryBig />
        Projects
    </h2>

    <div class="grid gap-3 md:grid-cols-2">
        {PROJECTS.map(project => <ProjectItem project={project} />)}
    </div>


    <a href="https://github.com/astrxnomo" target="_blank" class="inline-flex items-center text-sm justify-center rounded-xl bg-neutral-800 dark:hover:text-neutral-50 py-2 px-4 opacity-80 transition-opacity duration-150 hover:opacity-100 w-full md:w-auto group gap-2 font-medium ">
        More projects
        <MoveRight class="size-4 opacity-70 group-hover:opacity-100 group-hover:translate-x-[1.5px] duration-200"/>
    </a>
</SectionContainer>